@charset "UTF-8";

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

a {
  background-color: transparent
}

b,
strong {
  font-weight: bolder
}

img {
  border-style: none
}

button,
input,
optgroup {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,
input {
  overflow: visible
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details {
  display: block
}

summary {
  display: list-item
}

template {
  display: none
}

[hidden] {
  display: none
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

body {
  margin: 0;
  padding: 0;
  background: #fefefe;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #0a0a0a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic
}

button,
input,
optgroup {
  font-family: inherit
}

input:disabled,
input[readonly] {
  background-color: #e6e6e6;
  cursor: not-allowed
}

[type=button] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0
}

input[type=search] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

[type=checkbox]+label[for],
[type=radio]+label[for] {
  cursor: pointer
}

label {
  display: block;
  margin: 0;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.8;
  color: #0a0a0a
}

div,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul {
  margin: 0;
  padding: 0
}

p {
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility
}

em,
i {
  font-style: italic;
  line-height: inherit
}

b,
strong {
  font-weight: 700;
  line-height: inherit
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: inherit;
  text-rendering: optimizeLegibility
}

h1 {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem
}

h2 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem
}

h3 {
  font-size: 1.1875rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem
}

h4 {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem
}

h5 {
  font-size: 1.0625rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem
}

h6 {
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem
}

@media print,
screen and (min-width:40em) {

  h1 {
    font-size: 3rem
  }

  h2 {
    font-size: 2.5rem
  }

  h3 {
    font-size: 1.9375rem
  }

  h4 {
    font-size: 1.5625rem
  }

  h5 {
    font-size: 1.25rem
  }

  h6 {
    font-size: 1rem
  }
}

a {
  line-height: inherit;
  text-decoration: none;
  cursor: pointer
}

a img {
  border: 0
}

li {
  font-size: inherit
}

.grid-container {
  padding-right: .625rem;
  padding-left: .625rem;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto
}

@media print,
screen and (min-width:40em) {
  .grid-container {
    padding-right: .9375rem;
    padding-left: .9375rem
  }
}

.grid-container.fluid {
  padding-right: .625rem;
  padding-left: .625rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto
}

@media print,
screen and (min-width:40em) {
  .grid-container.fluid {
    padding-right: .9375rem;
    padding-left: .9375rem
  }
}

.grid-container.full {
  padding-right: 0;
  padding-left: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto
}

.grid-x {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap
}

.cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-height: 0;
  min-width: 0;
  width: 100%
}

.cell.auto {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0px;
  flex: 1 1 0
}

.cell.shrink {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}

.grid-x>.auto {
  width: auto
}

.grid-x>.small-1,
.grid-x>.small-10,
.grid-x>.small-11,
.grid-x>.small-12,
.grid-x>.small-2,
.grid-x>.small-3,
.grid-x>.small-4,
.grid-x>.small-5,
.grid-x>.small-6,
.grid-x>.small-7,
.grid-x>.small-8,
.grid-x>.small-9,
.grid-x>.small-full,
.grid-x>.small-shrink {
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto
}

@media print,
screen and (min-width:40em) {

  .grid-x>.medium-1,
  .grid-x>.medium-10,
  .grid-x>.medium-11,
  .grid-x>.medium-12,
  .grid-x>.medium-2,
  .grid-x>.medium-3,
  .grid-x>.medium-4,
  .grid-x>.medium-5,
  .grid-x>.medium-6,
  .grid-x>.medium-7,
  .grid-x>.medium-8,
  .grid-x>.medium-9,
  .grid-x>.medium-full,
  .grid-x>.medium-shrink {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto
  }
}

@media print,
screen and (min-width:64em) {

  .grid-x>.large-1,
  .grid-x>.large-10,
  .grid-x>.large-11,
  .grid-x>.large-12,
  .grid-x>.large-2,
  .grid-x>.large-3,
  .grid-x>.large-4,
  .grid-x>.large-5,
  .grid-x>.large-6,
  .grid-x>.large-7,
  .grid-x>.large-8,
  .grid-x>.large-9,
  .grid-x>.large-full,
  .grid-x>.large-shrink {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto
  }
}

.grid-x>.small-1,
.grid-x>.small-10,
.grid-x>.small-11,
.grid-x>.small-12,
.grid-x>.small-2,
.grid-x>.small-3,
.grid-x>.small-4,
.grid-x>.small-5,
.grid-x>.small-6,
.grid-x>.small-7,
.grid-x>.small-8,
.grid-x>.small-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}

.grid-x>.small-1 {
  width: 8.33333%
}

.grid-x>.small-2 {
  width: 16.66667%
}

.grid-x>.small-3 {
  width: 25%
}

.grid-x>.small-4 {
  width: 33.33333%
}

.grid-x>.small-5 {
  width: 41.66667%
}

.grid-x>.small-6 {
  width: 50%
}

.grid-x>.small-7 {
  width: 58.33333%
}

.grid-x>.small-8 {
  width: 66.66667%
}

.grid-x>.small-9 {
  width: 75%
}

.grid-x>.small-10 {
  width: 83.33333%
}

.grid-x>.small-11 {
  width: 91.66667%
}

.grid-x>.small-12 {
  width: 100%
}

@media print,
screen and (min-width:40em) {
  .grid-x>.medium-auto {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    width: auto
  }

  .grid-x>.medium-1,
  .grid-x>.medium-10,
  .grid-x>.medium-11,
  .grid-x>.medium-12,
  .grid-x>.medium-2,
  .grid-x>.medium-3,
  .grid-x>.medium-4,
  .grid-x>.medium-5,
  .grid-x>.medium-6,
  .grid-x>.medium-7,
  .grid-x>.medium-8,
  .grid-x>.medium-9,
  .grid-x>.medium-shrink {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .grid-x>.medium-shrink {
    width: auto
  }

  .grid-x>.medium-1 {
    width: 8.33333%
  }

  .grid-x>.medium-2 {
    width: 16.66667%
  }

  .grid-x>.medium-3 {
    width: 25%
  }

  .grid-x>.medium-4 {
    width: 33.33333%
  }

  .grid-x>.medium-5 {
    width: 41.66667%
  }

  .grid-x>.medium-6 {
    width: 50%
  }

  .grid-x>.medium-7 {
    width: 58.33333%
  }

  .grid-x>.medium-8 {
    width: 66.66667%
  }

  .grid-x>.medium-9 {
    width: 75%
  }

  .grid-x>.medium-10 {
    width: 83.33333%
  }

  .grid-x>.medium-11 {
    width: 91.66667%
  }

  .grid-x>.medium-12 {
    width: 100%
  }
}

@media print,
screen and (min-width:64em) {
  .grid-x>.large-auto {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    width: auto
  }

  .grid-x>.large-1,
  .grid-x>.large-10,
  .grid-x>.large-11,
  .grid-x>.large-12,
  .grid-x>.large-2,
  .grid-x>.large-3,
  .grid-x>.large-4,
  .grid-x>.large-5,
  .grid-x>.large-6,
  .grid-x>.large-7,
  .grid-x>.large-8,
  .grid-x>.large-9,
  .grid-x>.large-shrink {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .grid-x>.large-shrink {
    width: auto
  }

  .grid-x>.large-1 {
    width: 8.33333%
  }

  .grid-x>.large-2 {
    width: 16.66667%
  }

  .grid-x>.large-3 {
    width: 25%
  }

  .grid-x>.large-4 {
    width: 33.33333%
  }

  .grid-x>.large-5 {
    width: 41.66667%
  }

  .grid-x>.large-6 {
    width: 50%
  }

  .grid-x>.large-7 {
    width: 58.33333%
  }

  .grid-x>.large-8 {
    width: 66.66667%
  }

  .grid-x>.large-9 {
    width: 75%
  }

  .grid-x>.large-10 {
    width: 83.33333%
  }

  .grid-x>.large-11 {
    width: 91.66667%
  }

  .grid-x>.large-12 {
    width: 100%
  }
}

.grid-padding-x .grid-padding-x {
  margin-right: -.625rem;
  margin-left: -.625rem
}

@media print,
screen and (min-width:40em) {
  .grid-padding-x .grid-padding-x {
    margin-right: -.9375rem;
    margin-left: -.9375rem
  }
}

.grid-container:not(.full)>.grid-padding-x {
  margin-right: -.625rem;
  margin-left: -.625rem
}

@media print,
screen and (min-width:40em) {
  .grid-container:not(.full)>.grid-padding-x {
    margin-right: -.9375rem;
    margin-left: -.9375rem
  }
}

.grid-padding-x>.cell {
  padding-right: .625rem;
  padding-left: .625rem
}

@media print,
screen and (min-width:40em) {
  .grid-padding-x>.cell {
    padding-right: .9375rem;
    padding-left: .9375rem
  }
}

.small-offset-0 {
  margin-left: 0
}

.grid-margin-x>.small-offset-0 {
  margin-left: calc(0% + 1.25rem / 2)
}

.small-offset-1 {
  margin-left: 8.33333%
}

.grid-margin-x>.small-offset-1 {
  margin-left: calc(8.33333% + 1.25rem / 2)
}

.small-offset-2 {
  margin-left: 16.66667%
}

.grid-margin-x>.small-offset-2 {
  margin-left: calc(16.66667% + 1.25rem / 2)
}

.small-offset-3 {
  margin-left: 25%
}

.grid-margin-x>.small-offset-3 {
  margin-left: calc(25% + 1.25rem / 2)
}

.small-offset-4 {
  margin-left: 33.33333%
}

.grid-margin-x>.small-offset-4 {
  margin-left: calc(33.33333% + 1.25rem / 2)
}

.small-offset-5 {
  margin-left: 41.66667%
}

.grid-margin-x>.small-offset-5 {
  margin-left: calc(41.66667% + 1.25rem / 2)
}

.small-offset-6 {
  margin-left: 50%
}

.grid-margin-x>.small-offset-6 {
  margin-left: calc(50% + 1.25rem / 2)
}

.small-offset-7 {
  margin-left: 58.33333%
}

.grid-margin-x>.small-offset-7 {
  margin-left: calc(58.33333% + 1.25rem / 2)
}

.small-offset-8 {
  margin-left: 66.66667%
}

.grid-margin-x>.small-offset-8 {
  margin-left: calc(66.66667% + 1.25rem / 2)
}

.small-offset-9 {
  margin-left: 75%
}

.grid-margin-x>.small-offset-9 {
  margin-left: calc(75% + 1.25rem / 2)
}

.small-offset-10 {
  margin-left: 83.33333%
}

.grid-margin-x>.small-offset-10 {
  margin-left: calc(83.33333% + 1.25rem / 2)
}

.small-offset-11 {
  margin-left: 91.66667%
}

.grid-margin-x>.small-offset-11 {
  margin-left: calc(91.66667% + 1.25rem / 2)
}

@media print,
screen and (min-width:40em) {
  .medium-offset-0 {
    margin-left: 0
  }

  .grid-margin-x>.medium-offset-0 {
    margin-left: calc(0% + 1.875rem / 2)
  }

  .medium-offset-1 {
    margin-left: 8.33333%
  }

  .grid-margin-x>.medium-offset-1 {
    margin-left: calc(8.33333% + 1.875rem / 2)
  }

  .medium-offset-2 {
    margin-left: 16.66667%
  }

  .grid-margin-x>.medium-offset-2 {
    margin-left: calc(16.66667% + 1.875rem / 2)
  }

  .medium-offset-3 {
    margin-left: 25%
  }

  .grid-margin-x>.medium-offset-3 {
    margin-left: calc(25% + 1.875rem / 2)
  }

  .medium-offset-4 {
    margin-left: 33.33333%
  }

  .grid-margin-x>.medium-offset-4 {
    margin-left: calc(33.33333% + 1.875rem / 2)
  }

  .medium-offset-5 {
    margin-left: 41.66667%
  }

  .grid-margin-x>.medium-offset-5 {
    margin-left: calc(41.66667% + 1.875rem / 2)
  }

  .medium-offset-6 {
    margin-left: 50%
  }

  .grid-margin-x>.medium-offset-6 {
    margin-left: calc(50% + 1.875rem / 2)
  }

  .medium-offset-7 {
    margin-left: 58.33333%
  }

  .grid-margin-x>.medium-offset-7 {
    margin-left: calc(58.33333% + 1.875rem / 2)
  }

  .medium-offset-8 {
    margin-left: 66.66667%
  }

  .grid-margin-x>.medium-offset-8 {
    margin-left: calc(66.66667% + 1.875rem / 2)
  }

  .medium-offset-9 {
    margin-left: 75%
  }

  .grid-margin-x>.medium-offset-9 {
    margin-left: calc(75% + 1.875rem / 2)
  }

  .medium-offset-10 {
    margin-left: 83.33333%
  }

  .grid-margin-x>.medium-offset-10 {
    margin-left: calc(83.33333% + 1.875rem / 2)
  }

  .medium-offset-11 {
    margin-left: 91.66667%
  }

  .grid-margin-x>.medium-offset-11 {
    margin-left: calc(91.66667% + 1.875rem / 2)
  }
}

@media print,
screen and (min-width:64em) {
  .large-offset-0 {
    margin-left: 0
  }

  .grid-margin-x>.large-offset-0 {
    margin-left: calc(0% + 1.875rem / 2)
  }

  .large-offset-1 {
    margin-left: 8.33333%
  }

  .grid-margin-x>.large-offset-1 {
    margin-left: calc(8.33333% + 1.875rem / 2)
  }

  .large-offset-2 {
    margin-left: 16.66667%
  }

  .grid-margin-x>.large-offset-2 {
    margin-left: calc(16.66667% + 1.875rem / 2)
  }

  .large-offset-3 {
    margin-left: 25%
  }

  .grid-margin-x>.large-offset-3 {
    margin-left: calc(25% + 1.875rem / 2)
  }

  .large-offset-4 {
    margin-left: 33.33333%
  }

  .grid-margin-x>.large-offset-4 {
    margin-left: calc(33.33333% + 1.875rem / 2)
  }

  .large-offset-5 {
    margin-left: 41.66667%
  }

  .grid-margin-x>.large-offset-5 {
    margin-left: calc(41.66667% + 1.875rem / 2)
  }

  .large-offset-6 {
    margin-left: 50%
  }

  .grid-margin-x>.large-offset-6 {
    margin-left: calc(50% + 1.875rem / 2)
  }

  .large-offset-7 {
    margin-left: 58.33333%
  }

  .grid-margin-x>.large-offset-7 {
    margin-left: calc(58.33333% + 1.875rem / 2)
  }

  .large-offset-8 {
    margin-left: 66.66667%
  }

  .grid-margin-x>.large-offset-8 {
    margin-left: calc(66.66667% + 1.875rem / 2)
  }

  .large-offset-9 {
    margin-left: 75%
  }

  .grid-margin-x>.large-offset-9 {
    margin-left: calc(75% + 1.875rem / 2)
  }

  .large-offset-10 {
    margin-left: 83.33333%
  }

  .grid-margin-x>.large-offset-10 {
    margin-left: calc(83.33333% + 1.875rem / 2)
  }

  .large-offset-11 {
    margin-left: 91.66667%
  }

  .grid-margin-x>.large-offset-11 {
    margin-left: calc(91.66667% + 1.875rem / 2)
  }
}

@media print,
screen and (max-width:39.99875em) {
  .hide-for-small-only {
    display: none !important
  }
}

@media screen and (max-width:0em),
screen and (min-width:40em) {
  .show-for-small-only {
    display: none !important
  }
}

@media print,
screen and (min-width:40em) {
  .hide-for-medium {
    display: none !important
  }
}

@media screen and (max-width:39.99875em) {
  .show-for-medium {
    display: none !important
  }
}

@media print,
screen and (min-width:40em) and (max-width:63.99875em) {
  .hide-for-medium-only {
    display: none !important
  }
}

@media screen and (max-width:39.99875em),
screen and (min-width:64em) {
  .show-for-medium-only {
    display: none !important
  }
}

@media print,
screen and (min-width:64em) {
  .hide-for-large {
    display: none !important
  }
}

@media screen and (max-width:63.99875em) {
  .show-for-large {
    display: none !important
  }
}

@media print,
screen and (min-width:64em) and (max-width:74.99875em) {
  .hide-for-large-only {
    display: none !important
  }
}

@media screen and (max-width:63.99875em),
screen and (min-width:75em) {
  .show-for-large-only {
    display: none !important
  }
}

.align-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}