/* Variables */
:root {
    /* Margins */
    --padding: 20px;
    --large-padding: 10vh;
    --foundation: 0.625rem;

    /* Fonts */
    --font-family: "Man Rope", sans-serif;
    --normal: 500;
    --bold: 900;
    --body-size: 17px;

    /* Colors */
    --white: #fff;
    --black: #11110e;
    --gray: rgba(255, 255, 255, 0.4);
    --grey: rgba(255, 255, 255, 0.2);

    /* Animation */
    --animation: all 0.366s ease-in-out;
    --animation-long: all 0.999s ease-in-out;

    /* Opacity */
    --opacity-start: 0.777;
    --opacity-end: 1;

    /* Cursor */
    --cursor: url('icons/icon__cursor.png'), auto;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: var(--opacity-end); }
}
@-moz-keyframes fadein { from { opacity: 0; } to { opacity: var(--opacity-end); } }
@-webkit-keyframes fadein { from { opacity: 0; } to { opacity: var(--opacity-end); } }
@-ms-keyframes fadein { from { opacity: 0; } to { opacity: var(--opacity-end); } }
@-o-keyframes fadein { from { opacity: 0; } to { opacity: var(--opacity-end); } }

body {
    background-color: var(--black);
    -webkit-animation: fadein 1.33s;
    -moz-animation: fadein 1.33s;
    -ms-animation: fadein 1.33s;
    -o-animation: fadein 1.33s;
    animation: fadein 1.33s;
    font-size: var(--body-size);
}

body.vaal,
.vaal a:hover,
.vaal a:focus,
.vaal .container label {
    cursor: var(--cursor);
}

* {
    -webkit-transition: var(--animation);
    -moz-transition: var(--animation);
    -o-transition: var(--animation);
    transition: var(--animation);
}

body, a, p, h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
}

p {
    font-weight: var(--normal);
    color: var(--white);
}

a {
    color: var(--white);
    opacity: var(--opacity-start);
}

a:hover,
a:focus {
    color: var(--white);
    opacity: var(--opacity-end);
}

a:active {
    transform: translate(0, 2px);
    opacity: var(--opacity-start);
}

a:hover img,
a:focus img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.everywhere {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.background {
    opacity: 0.1;
    z-index: -1;
}

.background.hidden {
    display: none;
    visibility: hidden;
}

.background-image {
    z-index: -2;
    opacity: 0.44;
    object-fit: cover;
    filter: blur(75px);
    -webkit-transition: var(--animation-long);
    -moz-transition: var(--animation-long);
    -o-transition: var(--animation-long);
    transition: var(--animation-long);
}

.background-image.deblur {
    filter: blur(0);
    opacity: 1;
}

.background svg {
    -webkit-animation: fadein 1.33s;
    -moz-animation: fadein 1.33s;
    -ms-animation: fadein 1.33s;
    -o-animation: fadein 1.33s;
    animation: fadein 1.33s;
    height: 100%;
    width: 100%;
}

.search__input--container {
    position: relative;
    width: 100%;
}

.container .progress {
    background-color: transparent;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    border-radius: 8px;
    pointer-events: none;
}

.container .progress__inner {
    background-color: rgba(255, 255, 255, 0.05);
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.grid-container {
    max-width: 90rem;
}

.container {
    padding: var(--padding);
}

.container,
.container__inner {
    min-height: calc(100vh - 40px);
}

ul {
    margin: 0 0 calc(var(--padding) * 1.5);
    padding: 0;
}

li {
    list-style: none;
}

.instapaper-container {
    mask-image: linear-gradient(to top, black calc(100% - 0.625rem), transparent 100%);
}

.instapaper-links.large-6 img {
    max-height: 100% !important;
    max-width: 30% !important;
    min-width: 30%;
    aspect-ratio: 3/1.5 !important;
}

.instapaper-list {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 392px;
    scrollbar-color: var(--grey) transparent;
    scrollbar-width: thin;
    mask-image: linear-gradient(to bottom, black calc(100% - 0.625rem), transparent 100%);
}

.instapaper-links {
    opacity: 0;
}

.instapaper-links ul:not(.instapaper-list) {
    margin: 0;
}

.instapaper-links .container__list--title {
    display: flex;
    justify-content: space-between
}

.container__list--item:hover {
    background: rgba(255, 255, 255, 0.033);
    box-shadow: none;
    border: none;
    outline: none;
    color: var(--white);
    border-radius: 8px;
    padding: 0 10px;
    opacity: var(--opacity-end);
}

.news-links .container__list--item:hover,
.podcast-links .container__list--item:hover {
    letter-spacing: -0.0225rem;
}

.container__list--item:hover .container__list--full-item.container__list--current:before {
    filter: grayscale(0);
}

.container__list {
    display: flex;
    align-items: center;
    padding: 6px 6px 6px 0;
}

.container__list span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.podcast-links .container__list,
.news-links .container__list {
    align-items: flex-start;
}

.podcast-links .container__list span,
.news-links .container__list span {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.container__list span.container__list--full-item {
    -webkit-line-clamp: 4;
    line-height: 1.25;
}

.container__list span.container__list--description {
    font-size: 0.8rem;
    opacity: 0.75;
}

.container__list--full-item.container__list--current {
    position: relative;
    width: 100%;
}

.container__list--full-item.container__list--current:before {
    content: "";
    top: 50%;
    right: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    object-fit: contain;
    background-image: url("icons/icon__poe.png");
    background-size: contain;
    filter: grayscale(100);
    transform: translate(0, -50%);
    -webkit-transition: var(--animation);
    -moz-transition: var(--animation);
    -o-transition: var(--animation);
    transition: var(--animation);
}

.container__list img {
    width: 100%;
    margin-right: 0.5rem;
    max-width: 23px;
    max-height: 23px;
    border-radius: 5px;
    filter: grayscale(0.75);
    -webkit-filter: grayscale(0.75);
    aspect-ratio: 1/1;
    object-fit: cover;
}

.container__list--title {
    font-family: var(--font-family);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 0.9rem;
    font-weight: var(--bold);
    color: var(--grey);
    padding: 10px 0;
}

.container form {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    opacity: var(--opacity-start);
    -webkit-transition: var(--animation);
    -moz-transition: var(--animation);
    -o-transition: var(--animation);
    transition: var(--animation);
}

.container form.focus {
    opacity: var(--opacity-end);
}

.container img.search {
    width: 100%;
    min-width: 36px;
    padding-right: 5px;
}

.container label {
    width: 36px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.container input {
    position: relative;
    background: rgba(255, 255, 255, 0.0125);
    box-shadow: none;
    border: none;
    padding: 0 14px;
    margin: 0;
    height: auto;
    width: 100%;
    opacity: var(--opacity-start);
    border-radius: 10px;
    line-height: 3.25rem;
    color: var(--white);
    font-family: var(--font-family);
    font-weight: var(--bold);
    font-size: 26px;
    outline: none;
    -webkit-transition: var(--animation);
    -moz-transition: var(--animation);
    -o-transition: var(--animation);
    transition: var(--animation);
    border-radius: 8px;
}

.container input:focus {
    background: rgba(255, 255, 255, 0.025);
    box-shadow: none;
    border: none;
    outline: none;
    opacity: var(--opacity-end);
}

.lastfm__url {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    font-size: 1rem;
    line-height: 0.9;
    font-weight: var(--bold);
    font-family: var(--font-family);
    color: var(--grey);
    text-align: right;
}

.lastfm__image {
    background-color: var(--gray);
    width: 52px;
    height: 52px;
    margin-left: var(--padding);
    border-radius: 8px;
    filter: grayscale(0.75);
    -webkit-filter: grayscale(0.75);
    aspect-ratio: 1/1;
    object-fit: cover;
}

.lastfm__song {
    line-height: 1.1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.lastfm__album,
.lastfm__artist {
    font-weight: var(--normal);
    font-size: 0.8rem;
    opacity: var(--opacity-start);
}

.stats,
.ip {
    display: inherit;
    align-items: center;
    padding: calc(var(--foundation) / 2) var(--foundation);
    line-height: 1;
    color: var(--white);
    font-size: 0.55rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-weight: var(--bold);
}

.stats div {
    padding: calc(var(--padding) / 2) 0;
}

.ip div,
.stats div {
    opacity: 0;
}


.ip div.shown,
.stats div.shown {
    opacity: 0.25;
}

.ip img,
.stats img {
    width: 13px;
    height: auto;
    margin-right: 6px;
}

.ip div.shown:hover,
.ip div.shown:focus,
.stats div.shown:hover,
.stats div.shown:focus,
.lastfm__url.shown,
.instapaper-links.shown {
    opacity: var(--opacity-end);
    cursor: default;
}

.notifications {
    position: fixed;
    top: 0;
    right: 0;
    color: var(--white);
    pointer-events: none;
    opacity: 1;
    display: inherit;
    align-items: center;
    padding: var(--padding);
    border-radius: 8px;
    line-height: 1;
    font-size: 0.55rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-weight: var(--bold);
    -webkit-transition: var(--animation-long);
    -moz-transition: var(--animation-long);
    -o-transition: var(--animation-long);
    transition: var(--animation-long);
}

.notifications span {
    color: var(--gray);
}

.notifications.hidden,
.background-image.hidden {
    opacity: 0;
}

@media screen and (max-width: 30em) {
    .container__list span {
        font-size: 0.9725rem;
    }
}

@media screen and (max-width: 40em) {
    .instapaper-list {
        max-height: 500px;
    }

    .lastfm__container {
        margin-bottom: var(--padding);
    }

    .container {
        padding: calc(var(--padding) * 3) var(--padding);
    }

    .lastfm__url {
        text-align: left;
        justify-content: space-between;
    }
}

@media screen and (max-width: 40em) and (min-width: 40em) {
    .instapaper-list {
        max-height: 472px;
    }
}

@media screen and (min-width: 40em) {
    .container form {
        margin-bottom: var(--padding);
    }

    .container__list--title {
        padding: 5px 0 10px 0;
    }

    .lastfm__container {
        padding-left: var(--padding);
    }

    .stats {
        display: flex;
        position: fixed;
        bottom: 0;
        right: 0;
        padding: var(--foundation);
    }

    .stats div {
        padding: 0 !important;
        margin-left: var(--padding);
    }

    .ip {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: var(--foundation);
    }
}

@media screen and (max-width: 64em) {
    .container__list {
        padding: 10px 10px 10px 0;
    }
}