/* Variables */
:root {
    /* Margins */
    --padding: 20px;
    --large-padding: 10vh;
    --foundation: 0.625rem;

    /* Fonts */
    --font-family: "Hack", sans-serif;
    --normal: 400;
    --bold: 700;

    /* Colors */
    --white: #fff;
    --black: #11110e;
    --grey: #3b3b3b;

    /* Animation */
    --animation: all 0.3s ease-in-out;

    /* Gradients */
    --title-gradient: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 120%);
}

body {
    background: var(--black);
    font-size: 20px;
}

.container input {
    font-size: 24px;
}

.grid-container {
    max-width: 90rem;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family);
}

p {
    font-weight: var(--normal);
    color: var(--white);
}

a {
    color: var(--white);
    -webkit-transition: var(--animation);
    -moz-transition: var(--animation);
    -o-transition: var(--animation);
    transition: var(--animation);
    opacity: 0.33;
}

a:hover,
a:focus {
    color: var(--white);
    opacity: 1;
}

a:hover img,
a:focus img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.container {
    padding: var(--padding);
}

.container,
.container__inner {
    min-height: calc(100vh - 40px);
}

ul {
    margin: 0 0 var(--padding);
    padding: 0;
}

li {
    list-style: none;
}

.container__list {
    display: inline-block;
    padding: 7px;
    line-height: 1.3;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.container__list img {
    width: 23px;
    border-radius: 5px;
    filter: grayscale(0.75);
    -webkit-filter: grayscale(0.75);
}

.container__list--title {
    font-family: var(--font-family);
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 0.9rem;
    font-weight: var(--bold);
    color: var(--grey);
}

.container form {
    display: flex;
    width: 100%;
    margin: 0;
    opacity: 0.5;
    -webkit-transition: var(--animation);
    -moz-transition: var(--animation);
    -o-transition: var(--animation);
    transition: var(--animation);
}

.container form.focus {
    opacity: 1;
}

@media screen and (max-width: 40em) {
    .container form {
        margin-bottom: var(--padding);
    }
}

.container img.search {
    width: 100%;
    min-width: 32px;
    padding-right: 5px;
    height: 3rem;
}

.container label {
    width: 32px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.container input {
    background: transparent;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
    height: auto;
    width: calc(100% - 32px);
    opacity: 0.5;
    line-height: 3.25rem;
    color: var(--white);
    font-family: var(--font-family);
    -webkit-transition: var(--animation);
    -moz-transition: var(--animation);
    -o-transition: var(--animation);
    transition: var(--animation);
    outline: none;
}

.container input:focus {
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    /*color: var(--white);*/
    border-radius: 8px;
    padding: 0 14px;
    opacity: 1;
}

.lastfm__url {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    font-size: 0.9rem;
    line-height: 1;
    font-weight: var(--bold);
    font-family: var(--font-family);
    color: var(--grey);
    -webkit-transition: var(--animation);
    -moz-transition: var(--animation);
    -o-transition: var(--animation);
    transition: var(--animation);
    text-align: right;
}

.lastfm__url.shown {
    opacity: 1;
}

.lastfm__image {
    width: 52px;
    height: 52px;
    margin-left: var(--padding);
    border-radius: 8px;
}

.lastfm__song {
    line-height: 1.3;
}

.lastfm__album,
.lastfm__artist {
    font-weight: var(--normal);
    font-size: 0.8rem;
}
